<div class="container-fluid">
    <div class="row">
        <div class="col bg-dark text-white">
            <a class="navbar-brand">Online Store</a>
        </div>
    </div>
</div>

<div *ngIf="orderSent" class="m-2 text-center" >
    <h2>Thanks!</h2>
    <p>Thank you for placing the order</p>
    <p>We'll Ship your order as ASAP.</p>
    <button class="btn-primary btn" routerLink="/store">
        Return to Store
    </button>
</div>

<form *ngIf ="!orderSent" #form= "ngForm"
novalidate (ngSubmit)="submitOrder(form)" class="m-2">
<div class="form-group">
    <label>Name</label>
    <input class="form-control" #name="ngModel" name="name" [(ngModel)]="order.name" required/>
<!--validation for in valid name with spam tag -->
<span *ngIf="submitted && name.invalid" class="text-danger">
    Please Enter your name
</span>
</div>

<div class="form-group">
    <label>Address</label>
    <input class="form-control" #address="ngModel" name="address"
    [(ngModel)]="order.address" required>

    <span *ngIf="submitted && address.invalid" class="text-danger">
        Please enter Your Address
    </span>
</div>

<div class="form-group">
    <label>City</label>
    <input class="form-control" #city="ngModel" name="city"
    [(ngModel)]="order.city" required>
    <span *ngIf ="submitted && city.invalid" class="text-danger">
       Please Enter Your City
    </span>
</div>

<div class="form-group">
    <label>State</label>
    <input class="form-control" #state="ngModel" name="state"
    [(ngModel)]="order.state" required>
    <span *ngIf ="submitted && state.invalid" class="text-danger">
       Please Enter Your State
    </span>
</div>

<div class="form-group">
    <label>ZIP</label>
    <input class="form-control" #zip="ngModel" name="zip"
    [(ngModel)]="order.zip" required>
    <span *ngIf ="submitted && zip.invalid" class="text-danger">
         Please Enter Your Zip
    </span>
</div>

<div class="form-group">
    <label>Country</label>
    <input class="form-control" #country="ngModel" name="country"
    [(ngModel)]="order.country" required>
    <span *ngIf ="submitted && country.invalid" class="text-danger">
        Please Enter Your Country
    </span>
</div>



<div class="text-center">

    <button class="btn btn-primary m-1" routerLink="/cart"> 
        Go Back
    </button>
    <button class="btn btn-primary m-1" type="submit">
        Complete the purchase
    </button>
</div>

</form>